    @import url("//hello.myfonts.net/count/2dfd76");

    * {
        box-sizing: border-box;
    }

    html,body,section,article {
      height: 100%;
      width: 100%;
    }

    body {
      background-color: #111;
      color: #8A2106;
      letter-spacing: 13px;
      font-family: 'BellGothic-Black', Monaco, monospace;
      text-transform: uppercase;
    }

    article {
      padding: 75px;
      display: flex;
    
      overflow: hidden;
}

    article {
      display: none;
    }

    .character {
      visibility: hidden;
    }

    .sentence {
      text-align: center;
    }

    .center {
      text-align: center;
    }

    article h2 {
      color: #FFF;
      font-size: 68px;
    }

    .word {
      visibility: hidden;
    }

    .show .word, .show .letters {
      visibility: visible;
    }

    .top {
      margin-top: 10%;
    }

    .right {
      text-align: right;
      margin-right: 90px;
    }

    p.letters {
      font-size: 3vw;
    }

    .small {
      margin-top: 36px;
      font-size: 2em !important;
    }

    ol li {
      float: left;
    }

    li h1 {
      margin-left: 150px;
    }

    .inline {
      text-align: center;
      margin-bottom: 20px;
    }

    .inline h1, .inline h2 {
      display: inline;
    }

    .inline h1 {
      color: #B1B1B1;
      font-size: 4vw;
      margin-right: 8.5%;
}

    .inline h2 {
      font-size: 3vw;
    }

    .pad-left {
      padding-left: 150px;
    }

    .divider {
      color: #8A2106;
      padding-left: 25px;
    }

    h4, h2 {
      text-align: center;
    }

    #slides {
      display: none;
    }

    #home {
      font-size: 2vw;
      letter-spacing: 7px;
      background-color: whiteSmoke;
      position: relative;
    }

    #home article {
      display: block;
    }

    #home .call-to-action {
      margin-top: 140px;
    }

    #home img {
      max-width: 20%;
      border-radius: 3px;
      margin-bottom: -40px;
    }

    #home .call-to-action-img-holder {
      cursor: pointer;
    }

    .links {
      margin: 0 auto;
    
      width: 80%;
      /* font-size: 1vw; */
}

    .links li {
      letter-spacing: 1px;
      font-size: 0.8vw;
    
      margin-left: 2%;
}

    @media (min-width: 1800px) {
      .small {
        margin-top: 60px;
      }

      .links {
        width: 80%;
      }

      .links li {
        letter-spacing: 2px;
        font-size: 15px;
      }

      .pad-left {
        padding-left: 185px;
      }

      .inline h1 {
        color: #C1C1C1;
        /* letter-spacing: 125px; */
        /* font-size: 95px; */
      }

      .top {
        margin-top: 15%;
      }

    }

    @media only screen and (max-device-width : 667px) {
      #home {
        font-size: 25px;
      }

      .links li {
        float: none;
        font-size: 1.8vw;
      }

      .links {
        width: 50%;
      }

      .inline h1 {
        /* letter-spacing: 35px; */
      
        font-size: 6vw;
        margin-right: 5%;
}

      .pad-left {
        padding-left: 60px;
      }

      p.letters {
        font-size: 40px;
        padding-bottom: 40px;
        margin-left: 30px;
      }
    }

    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
      h1,h2,h3,h4 {
        font-size: 2vw;
      }

      .inline h1 {
        /* letter-spacing: 35px; */
      
        margin-right: 5%;
}

      .pad-left {
        padding-left: 0;
      }

      p.letters {
        /* font-size: 40px; */
        /* margin-left: 30px; */
        padding-bottom: 40px;
      }
    }

    /**
 * @license
 * MyFonts Webfont Build ID 3014006, 2015-04-23T01:25:12-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: BellGothic-Black by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/bell-gothic/black/
 * Copyright: Part of the digitally encoded machine readable outline data for producing the Typefaces provided is copyrighted (c) 1992, 2003 Linotype Library GmbH, www.linotype.com. All rights reserved. This software is the property of Linotype Library GmbH, and may no
 * Licensed pageviews: 250,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3014006
 * 
 * © 2015 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */

  
@font-face {font-family: 'BellGothic-Black';src: url('webfonts/2DFD76_0_0.eot');src: url('webfonts/2DFD76_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2DFD76_0_0.woff2') format('woff2'),url('webfonts/2DFD76_0_0.woff') format('woff'),url('webfonts/2DFD76_0_0.ttf') format('truetype');}
 